.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 58px auto;
    padding:  10px 20px;
}

.title{
    color: whitesmoke;
    margin-bottom: 8px;
}

.subtitle {
    color: whitesmoke;
    margin: 0;
    margin-top: 6px;
    font-size: 24px;
}

.text {
    color:whitesmoke;
    margin: 0 120px;
    font-size: 22px;
    text-align: center;
}

.endtitle{
    color: whitesmoke;
    margin-top: 8px;
}