.input {
    height: 30px;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    border: inset 2px black;
    font-family: 'Audiowide', cursive;
}

.addBtn {
    height: 30px;
    width: 100px;
    border-radius: 0px 50px 10px 0px;
    background-color: #000000c9;
    color: white;
    font-family: 'Audiowide', cursive;
    border: none;
}

.input:focus {
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.75);
}

.input:hover {
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.75);
}

.addBtn:hover {
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.75);
    cursor: pointer;
    font-weight: 600;
    color:greenyellow;
}
