.App {
   display: flex;
   flex-direction: column;
   text-align: center;
   min-height: 100vh;
   width: 100%;
   background-image: url(./components/fondo/fondoapp.jpg);
   background-size: cover;
   background-attachment: fixed;
   /* background-color: gray; */
}

* {
   box-sizing: border-box;
   margin:0;
}